doctype html
html
	head
		title Knowledgebase
		link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
	body
		nav.navbar.navbar-expand-lg.navbar-light.bg-light
			a.navbar-brand(href='/') Knowledgebase
			button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarNav.collapse.navbar-collapse
				ul.navbar-nav
					li.nav-item
						a.nav-link(href='/')
							| Home 
							span.sr-only (current)
					li.nav-item
						a.nav-link(href='/articles/add') Add Article
		.container
			block content
			br
			hr
			footer
				p Copyright &copy; 2019
		script(src='/bower_components/jquery/dist/jquery.js')
		script(src='/bower_components/bootstrap/dist/js/bootstrap.js')